# iris species notebook

In [43]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.preprocessing import LabelEncoder

In [44]:
# reading the dataset
data = pd.read_csv("dataset/Iris.csv")
data.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [45]:
# shape of the data
data.shape

(150, 6)

In [46]:
# target dstribution
data["Species"].value_counts()

Species
Iris-setosa        50
Iris-versicolor    50
Iris-virginica     50
Name: count, dtype: int64

In [47]:
# features
print(data.columns.tolist())

['Id', 'SepalLengthCm', 'SepalWidthCm', 'PetalLengthCm', 'PetalWidthCm', 'Species']

In [48]:
# checking for missing values
data.isnull().sum()

Id               0
SepalLengthCm    0
SepalWidthCm     0
PetalLengthCm    0
PetalWidthCm     0
Species          0
dtype: int64

In [49]:
# checking for duplicates
data.duplicated().sum()

np.int64(0)

In [50]:
# data information
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             150 non-null    int64
 1   SepalLengthCm  150 non-null    float64
 2   SepalWidthCm   150 non-null    float64
 3   PetalLengthCm  150 non-null    float64
 4   PetalWidthCm   150 non-null    float64
 5   Species        150 non-null    object
dtypes: float64(4), int64(1), object(1)
memory usage: 7.2+ KB

In [51]:
# brief statistical description
data.describe()

               Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count  150.000000     150.000000    150.000000     150.000000    150.000000
mean    75.500000       5.843333      3.054000       3.758667      1.198667
std     43.445368       0.828066      0.433594       1.764420      0.763161
min      1.000000       4.300000      2.000000       1.000000      0.100000
25%     38.250000       5.100000      2.800000       1.600000      0.300000
50%     75.500000       5.800000      3.000000       4.350000      1.300000
75%    112.750000       6.400000      3.300000       5.100000      1.800000
max    150.000000       7.900000      4.400000       6.900000      2.500000

## insights
- no duplicates
- dataset relatively small
- no missing values identified
- target variables are in objects form. (encode into numerical variables)

In [52]:
data["Species"].value_counts()

Species
Iris-setosa        50
Iris-versicolor    50
Iris-virginica     50
Name: count, dtype: int64

In [53]:
# encoding categorical variable
encoder = LabelEncoder()
data["Species_encoded"] = encoder.fit_transform(data["Species"])

In [57]:
data.sample(10, random_state=21)

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species,Species_encoded
92,93,5.8,2.6,4.0,1.2,Iris-versicolor,1
44,45,5.1,3.8,1.9,0.4,Iris-setosa,0
7,8,5.0,3.4,1.5,0.2,Iris-setosa,0
21,22,5.1,3.7,1.5,0.4,Iris-setosa,0
95,96,5.7,3.0,4.2,1.2,Iris-versicolor,1
75,76,6.6,3.0,4.4,1.4,Iris-versicolor,1
20,21,5.4,3.4,1.7,0.2,Iris-setosa,0
121,122,5.6,2.8,4.9,2.0,Iris-virginica,2
26,27,5.0,3.4,1.6,0.4,Iris-setosa,0
19,20,5.1,3.8,1.5,0.3,Iris-setosa,0

In [55]:
data["Species"].value_counts()

Species
Iris-setosa        50
Iris-versicolor    50
Iris-virginica     50
Name: count, dtype: int64

In [56]:
data["Species_encoded"].value_counts()

Species_encoded
0    50
1    50
2    50
Name: count, dtype: int64